<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="uk.gov.hmrc.test.ui.cucumber.Find" level="ERROR"/>
    <logger name="uk.gov.hmrc.test.ui.cucumber.Wait" level="ERROR"/>

    <logger name="io.cucumber" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
